.svg-map{
    .region{
        transform-origin: 50% 50%;
        transition: all 0.25s ease-out;
        @apply .cursor-pointer;
        &:hover{
            transform: scale(1.025);
        }
    }
    .st0{
        &:hover, &.active{
            fill: theme('colors.blue.500');
        }
    }
    .st1{
        &:hover, &.active{
            fill: theme('colors.green.200');
        }
    }
    .st2{
        &:hover, &.active{
            fill: theme('colors.purple.400');
        }
    }
    .st3{
        &:hover, &.active{
            fill: theme('colors.green.400');
        }
    }
    .st4{
        &:hover, &.active{
            fill: theme('colors.green.300');
        }
    }
    .st5{
        &:hover, &.active{
            fill: theme('colors.red.300');
        }
    }
    .st6{
        &:hover, &.active{
            fill: theme('colors.orange.100');
        }
    }
    .st7{
        &:hover, &.active{
            fill: theme('colors.blue.400');
        }
    }
    &.nohover{
        .region{
            @apply .cursor-default;
            &:hover{
                transform: scale(1);
                fill: theme('colors.map');
                &.active{
                    &.st0{
                        fill: theme('colors.blue.500');
                    }
                    &.st1{
                        fill: theme('colors.green.200');
                    }
                    &.st2{
                       fill: theme('colors.purple.400');
                    }
                    &.st3{
                       fill: theme('colors.green.400');
                    }
                    &.st4{
                        fill: theme('colors.green.300');
                    }
                    &.st5{
                        fill: theme('colors.red.300');
                    }
                    &.st6{
                        fill: theme('colors.orange.100');
                    }
                    &.st7{
                        fill: theme('colors.blue.400');
                    }
                }
            }
        }
    }
}