.container {
    @apply px-4;
}

.multiply{
    @apply bg-blend-25;
    background-blend-mode: multiply;
}

.multiply-40{
    @apply bg-blend-40;
    background-blend-mode: multiply;
}

.multiply-purple{
    @apply bg-blend-purple-30;
    background-blend-mode: multiply;
}

.button{
    @apply .bg-red-400 .text-white .rounded-lg;
    &.is-loading{
        &::after{
            animation: spin .5s infinite linear;
            -webkit-animation: spin .5s infinite linear;
            @apply .rounded-full .border .border-white .inline-block .h-4 .w-4 .relative .ml-2;
            border-right-color: transparent;
            border-top-color: transparent;
            content: "";            
        }
    }
}

.main-slider{
    .slide{
        @screen lg{
            max-height: 650px;
        }
    }
}

.text-content{
    h2, h3, h4, h5, h6 {
        @apply .mb-8 .font-bold;
    }
    h2, h3 {
        @apply text-3xl;
    }
    h4, h5, h6 {
        @apply text-2xl;
    }
    p{
        @apply .text-2xl .leading-tight .mb-8 .text-gray-500;
    }
    strong, b{
        @apply .font-bold .text-grey-200;
    }
    a{
        @apply .underline .text-red-400;
    }
    img{
        @apply .mx-auto .px-16;
    }
}

.headerimage{
    max-height: 450px;
    .text-content{
        p, h2{
            @apply .text-white;
        }
        p{
            @apply .text-lg .leading-tight;
        }
        h2{
            @apply .text-4xl .mb-4 .leading-none;
            @screen lg{
                @apply .text-6xl;
            }
        }
    }
}

.search{
    .search-icon{
        @apply .text-gray-700 .absolute .text-xl;
        top: 50%;
        right: 0.5rem;
        transform: translateY(-50%);
    }
}

.tags{
    .tag{
        @apply .border .border-gray-700 .py-1 .px-4 .rounded-full .text-sm .text-gray-800;
        &:hover{
            @apply .bg-purple-200 .text-white .border-purple-200;
        }
    }
}

.text-shadow{
    text-shadow: 2px 2px 10px theme('colors.grey.200');
}

