.multiply{
    @apply bg-blend-25;
    background-blend-mode: multiply;
}

.multiply-40{
    @apply bg-blend-40;
    background-blend-mode: multiply;
}

.multiply-purple{
    @apply bg-blend-purple-30;
    background-blend-mode: multiply;
}

.button{
    @apply .bg-red-400 .text-white .rounded-lg;
}

.main-slider{
    .slide{
        @screen lg{
            max-height: 650px;
        }
    }
}

.text-content{
    p{
        @apply .text-2xl .leading-tight .mb-8 .text-gray-500;
    }
    strong, b{
        @apply font-bold;
    }
    a{
        @apply .underline .text-red-400;
    }
    img{
        @apply .mx-auto .px-16;
    }
}

.headerimage{
    max-height: 450px;
    .text-content{
        p, h2{
            @apply .text-white;
        }
        p{
            @apply .text-lg .leading-tight;
        }
    }
}

