.multiply{
    @apply bg-blend-25;
    background-blend-mode: multiply;
}

.multiply-40{
    @apply bg-blend-40;
    background-blend-mode: multiply;
}

.multiply-purple{
    @apply bg-blend-purple-30;
    background-blend-mode: multiply;
}

.button{
    @apply .bg-red-400 .text-white .rounded-lg;
}

.main-slider{
    .slide{
        @screen lg{
            max-height: 650px;
        }
    }
}