.visitjalisco-region{
    .headerimage{
        max-height: 450px;
    }
    p{
        @apply .mb-4;
    }
    .slider{
        .button-prev {
            left: -2.5rem;
        }

        .button-next {
            right: -2.5rem;
        }

        .swiper-pagination{
            @apply .hidden;
        }
    }
}