.visitjalisco-regions{
    .headerimage{
        max-height: 450px;
    }

    .regions{
        .region-image{
            height: 50vw;
            @screen lg{
                height: auto;
            }
        }
        .region-map{
            max-height: 400px;
        }
    }
}