.visitjalisco-schedule{
    .schedule{
        .event{
            @screen lg{
                min-height: 17vw;
            }
            .event-img{
                height: 100vw;
                @apply .bg-cover .bg-no-repeat .bg-center .w-full .shadow-7xl .z-10;
                @screen lg{
                    
                    //@apply .-mt-4 .-ml-4;
                    @apply absolute;
                    width: 17vw;
                    height: 17vw;
                    left: -1rem;
                    top: -1rem;
                }
            }
        }
        .events-navigation{
            .pagination{
                @apply .relative .flex .flex-row .justify-end .items-end .text-lg;
            }
            .page-item{
                @apply .px-4 .py-1 .bg-gray-400 .text-white .mx-2 .text-2xl;
                &.active{
                    @apply .bg-red-400;
                }
                &.disabled{
                    @apply .hidden;
                }
            }
        }
        .line{
            //right: -15%;
        }
    }

    .blog{
        .post{
            min-height: 24rem;
        }
    }
}